In [2]:
##----- Load public packages
import pandas as pd
import numpy as np
import tkinter as TK
##----- Load local packages
sys.path.append("D:\Quant\Local\Strategy\Big_Brain\Data_Management\Download")
sys.path.append("D:\Quant\Local\Strategy\Big_Brain")
sys.path.append("D:\Quant\Local\Strategy\Big_Brain\kdb_python")

##-----加载JSON控制文件
with open('D:/Quant/Local/Strategy/Big_Brain/configs/config_GUI.json', 'r') as f: config_GUI = json.loads(f.read())

## GUI页面设计

class GUI():
    def __init__(self,config_GUI):
        '''
        初始化框架和功能类别
        '''
        self.root=TK.Tk() #创建主窗体
        self.root.wm_title(config_GUI['main_frame']['frame_name']) #定义平台名称

NameError: name 'sys' is not defined

In [ ]:
lis = ['000001.SZ','000002.SZ']

In [ ]:
str(lis)

In [ ]:
result_lis = str(lis).replace('[','(').replace(']',')').replace(',',';').replace('',';')

In [110]:
code=[]
code = ''.join(list(map(lambda x:'`'+x,code)))
len(code)

0

In [29]:
import qpython.qconnection as qp
from qpython.qconnection import MessageType
import json
import pandas as pd
import numpy as np
import datetime as dt
with open('D:/Quant/Local/Strategy/Big_Brain/configs/config_data_query.json', 'r') as f: config_data_query = json.loads(f.read())

def get_OHLCV_by_kdb(config_data_query, code = [], frequency = '', asset = '', adj = '', start_date = '', end_date = '', trade_date = '',items=['ts_code','open','high','low','close','vol','adj_factor'],is_panel=0):
    file_name = 'OHLCV_'+frequency+'_'+asset
    if is_panel: aryx=3
    else: aryx=2
    code = ''.join(list(map(lambda x:'`'+x,code)))
    if start_date!='':start_date = pd.to_datetime(start_date).strftime('%Y.%m.%d')
    if end_date!='':end_date = pd.to_datetime(end_date).strftime('%Y.%m.%d')

    q=qp.QConnection(config_data_query['kdb_load']['host'],
                     config_data_query['kdb_load']['port'],
                     config_data_query['kdb_load']['username'],
                     config_data_query['kdb_load']['password'])
    q.open()
    
    if len(code) != 0:
        if (start_date=='')&(end_date==''):
            query='0!data:select from (get`:'+config_data_query['place_load']['kdb']+file_name+') where ts_code in '+code
        elif (start_date!='')&(end_date==''):
            query='0!data:select from (get`:'+config_data_query['place_load']['kdb']+file_name+') where ts_code in '+code+', trade_date >= '+start_date
        elif (start_date=='')&(end_date!=''):
            query='0!data:select from (get`:'+config_data_query['place_load']['kdb']+file_name+') where ts_code in '+code+', trade_date <= '+end_date
        elif (start_date!='')&(end_date!=''):
            query='0!data:select from (get`:'+config_data_query['place_load']['kdb']+file_name+') where ts_code in '+code+', trade_date >= '+start_date+', trade_date <= '+end_date
    else:
        if (start_date=='')&(end_date==''):
            query='0!data:select from (get`:Local/OHLCV_D_E)'
        elif (start_date!='')&(end_date==''):
            query='0!data:select from (get`:'+config_data_query['place_load']['kdb']+file_name+') where trade_date >= '+start_date
        elif (start_date=='')&(end_date!=''):
            query='0!data:select from (get`:'+config_data_query['place_load']['kdb']+file_name+') where trade_date <= '+end_date
        elif (start_date!='')&(end_date!=''):
            query='0!data:select from (get`:'+config_data_query['place_load']['kdb']+file_name+') where trade_date >= '+start_date+', trade_date <= '+end_date
        
    data = pd.DataFrame(q.sync(query))
    


    q.close()
    data['trade_date'] +=946684800000000000
    data['trade_date'] = pd.to_datetime(data['trade_date'])
    data = data.set_index('trade_date')
    data = data.dropna()
    if (config_data_query['runD']): print('提取数据: 数据维度:'+str(aryx) +'; 标的数：'+str(len(list(set(data['ts_code']))))+'; 起始时间：'+str(data.index.min())+'; 结束时间：'+str(data.index.max()))

    for i in data.columns.tolist():
        if (type(data[i][0]) == bytes):
            data[i] = list(map(lambda x:x.decode(encoding='UTF-8'),data[i]))
    data = data[items]
    return data

In [ ]:
wp = pd.Panel(np.random.randn(2, 5, 4), items=['Item1', 'Item2'], major_axis=pd.date_range('1/1/2000', periods=5), minor_axis=['A', 'B', 'C', 'D'])

In [28]:
(locals()['data_sub'+str(var)] = data[data['ts_code']==var].drop('ts_code',1).T) for var in np.unique(data['ts_code'])

SyntaxError: invalid syntax (<ipython-input-28-54498f3309c5>, line 2)

In [53]:
data = get_OHLCV_by_kdb(config_data_query, code = ['000001.SZ','000002.SZ','000004.SZ','000005.SZ'], frequency = 'D', asset = 'E', adj = '', start_date = '20181101', end_date = '', trade_date = '',items=['ts_code','open','high','low','close','vol','adj_factor'],is_panel=0)

提取数据: 数据维度:2; 标的数：4; 起始时间：2018-11-01 00:00:00; 结束时间：2018-11-15 00:00:00

In [55]:
data.to_csv('test.csv')

In [52]:
data.T

trade_date,2016-01-04 00:00:00,2016-01-05 00:00:00,2016-01-06 00:00:00,2016-01-07 00:00:00,2016-01-08 00:00:00,2016-01-11 00:00:00,2016-01-12 00:00:00,2016-01-13 00:00:00,2016-01-14 00:00:00,2016-01-15 00:00:00,...,2018-11-15 00:00:00,2018-11-15 00:00:00,2018-11-15 00:00:00,2018-11-15 00:00:00,2018-11-15 00:00:00,2018-11-15 00:00:00,2018-11-15 00:00:00,2018-11-15 00:00:00,2018-11-15 00:00:00,2018-11-15 00:00:00
ts_code,000001.SZ,000001.SZ,000001.SZ,000001.SZ,000001.SZ,000001.SZ,000001.SZ,000001.SZ,000001.SZ,000001.SZ,...,603987.SH,603988.SH,603989.SH,603990.SH,603991.SH,603993.SH,603996.SH,603997.SH,603998.SH,603999.SH
open,9.55,8.97,9.09,9.08,8.92,8.76,8.62,8.67,8.43,8.49,...,6.36,10.73,22.76,32.07,19.66,4.11,9,8.18,5.61,5.13
high,9.58,9.21,9.2,9.08,8.99,8.82,8.68,8.71,8.6,8.6,...,6.45,10.89,23.07,33.42,21.33,4.18,9.1,8.3,5.67,5.6
low,8.94,8.88,9.07,8.68,8.68,8.5,8.47,8.52,8.34,8.29,...,6.28,10.6,22.51,31.99,19.51,4.1,8.87,8.18,5.53,5.11
close,9.02,9.07,9.18,8.71,8.85,8.57,8.6,8.53,8.57,8.33,...,6.44,10.83,22.89,33.39,20.81,4.18,9.08,8.29,5.65,5.43
vol,563498,663270,515706,174761,747528,732014,561642,391709,666315,448202,...,28930.9,69717.4,8481.3,7947,17253.9,1.1215e+06,86006.4,26862.5,54325.2,116020
adj_factor,85.994,85.994,85.994,85.994,85.994,85.994,85.994,85.994,85.994,85.994,...,2.142,3.003,2.149,1.01,1.004,3.269,1.536,1.569,3.934,2.436

In [49]:
var = '000001.SZ'
data_sub1 = data[data['ts_code']==var].drop('ts_code',1).T
data_sub1['code'] = var
data_sub1

trade_date,2016-01-04 00:00:00,2016-01-05 00:00:00,2016-01-06 00:00:00,2016-01-07 00:00:00,2016-01-08 00:00:00,2016-01-11 00:00:00,2016-01-12 00:00:00,2016-01-13 00:00:00,2016-01-14 00:00:00,2016-01-15 00:00:00,...,2018-11-05 00:00:00,2018-11-06 00:00:00,2018-11-07 00:00:00,2018-11-08 00:00:00,2018-11-09 00:00:00,2018-11-12 00:00:00,2018-11-13 00:00:00,2018-11-14 00:00:00,2018-11-15 00:00:00,code
open,9.550,8.970,9.090,9.080,8.920,8.760,8.620,8.670,8.430,8.490,...,10.950,10.870,10.830,10.880,10.710,10.460,10.410,10.530,10.440,000001.SZ
high,9.580,9.210,9.200,9.080,8.990,8.820,8.680,8.710,8.600,8.600,...,11.040,10.930,10.950,10.970,10.730,10.580,10.650,10.550,10.640,000001.SZ
low,8.940,8.880,9.070,8.680,8.680,8.500,8.470,8.520,8.340,8.290,...,10.820,10.730,10.750,10.820,10.400,10.380,10.380,10.420,10.420,000001.SZ
close,9.020,9.070,9.180,8.710,8.850,8.570,8.600,8.530,8.570,8.330,...,10.920,10.840,10.810,10.890,10.550,10.560,10.540,10.440,10.620,000001.SZ
vol,563497.870,663269.950,515706.440,174761.100,747527.580,732013.990,561642.300,391709.480,666314.540,448202.140,...,1291924.170,735725.740,785597.410,793976.000,1629269.170,920333.880,1072497.620,774239.850,901461.980,000001.SZ
adj_factor,85.994,85.994,85.994,85.994,85.994,85.994,85.994,85.994,85.994,85.994,...,108.031,108.031,108.031,108.031,108.031,108.031,108.031,108.031,108.031,000001.SZ

In [34]:
data = get_OHLCV_by_kdb(config_data_query, code = ['000001.SZ','000002.SZ'], frequency = 'D', asset = 'E', adj = '', start_date = '20160101', end_date = '', trade_date = '',items=['ts_code','open','high','low','close','vol'],is_panel=0)
# locals()['data_sub'+str(var)] = data[data['ts_code']==var].drop('ts_code',1).T for var in np.unique(data['ts_code'])


var = '000001.SZ'
data_sub1 = data[data['ts_code']==var].drop('ts_code',1).T
data_sub1['code'] = var
data_sub1

var = '000002.SZ'
data_sub2 = data[data['ts_code']==var].drop('ts_code',1).T
data_sub2['code'] = var
data_sub2

data = pd.concat([data_sub1,data_sub2],axis=0,ignore_index=False)

data['index'] = data.index
data=data.set_index('code')

def sort_df2(data):
    data = data.sort_values(by='code',ascending=True)	#df2：品种列 ascending：排序方式
    return data
data = data.groupby('index').apply(sort_df2)
del data['index']
data = data.T

data = dict([(var, data[var]) for var in np.unique(list(map(lambda x:x[0],data.columns.tolist())))])
# data = pd.Panel(data)

提取数据: 数据维度:2; 标的数：2; 起始时间：2016-01-04 00:00:00; 结束时间：2018-11-15 00:00:00

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  from ipykernel import kernelapp as app

In [76]:
data = get_OHLCV_by_kdb(config_data_query, code = ['000001.SZ','000002.SZ'], frequency = 'D', asset = 'E', adj = '', start_date = '20181111', end_date = '', trade_date = '',items=['ts_code','open','high','low','close','vol','adj_factor'],is_panel=0)

var = '000001.SZ'
data_sub1 = data[data['ts_code']==var].drop('ts_code',1).T
data_sub1['code'] = var
data_sub1

var = '000002.SZ'
data_sub2 = data[data['ts_code']==var].drop('ts_code',1).T
data_sub2['code'] = var
data_sub2

data = pd.concat([data_sub1,data_sub2],axis=0,ignore_index=False)

data['index'] = data.index
data=data.set_index('code')

def sort_df2(data):
    data = data.sort_values(by='code',ascending=True)	#df2：品种列 ascending：排序方式
    return data
data = data.groupby('index').apply(sort_df2)
del data['index']
data = data.T

data = dict([(var, data[var]) for var in np.unique(list(map(lambda x:x[0],data.columns.tolist())))])
data = pd.Panel(data)

In [79]:
data

index               adj_factor               close                high  \
code                 000001.SZ 000002.SZ 000001.SZ 000002.SZ 000001.SZ
trade_date
2018-11-12 00:00:00    108.031   142.668     10.56     23.88     10.58
2018-11-13 00:00:00    108.031   142.668     10.54     23.94     10.65
2018-11-14 00:00:00    108.031   142.668     10.44     24.15     10.55
2018-11-15 00:00:00    108.031   142.668     10.62     24.38     10.64

index                               low                open            \
code                000002.SZ 000001.SZ 000002.SZ 000001.SZ 000002.SZ
trade_date
2018-11-12 00:00:00     23.96     10.38     23.40     10.46     23.41
2018-11-13 00:00:00     24.03     10.38     23.44     10.41     23.48
2018-11-14 00:00:00     24.49     10.42     23.96     10.53     24.18
2018-11-15 00:00:00     24.40     10.42     23.96     10.44     24.05

index                       vol
code                  000001.SZ  000002.SZ
trade_date
2018-11-12 00:00:00   920333.88  386742.23
2018-11-13 00:00:00  1072497.62  453424.04
2018-11-14 00:00:00   774239.85  618882.72
2018-11-15 00:00:00   901461.98  258623.58

In [82]:
list(map(lambda x:x[0],data.columns.tolist()))

['adj_factor',
 'adj_factor',
 'close',
 'close',
 'high',
 'high',
 'low',
 'low',
 'open',
 'open',
 'vol',
 'vol']

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2963: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

code                 000001.SZ  000002.SZ
trade_date
2018-11-12 00:00:00      10.46      23.41
2018-11-13 00:00:00      10.41      23.48
2018-11-14 00:00:00      10.53      24.18
2018-11-15 00:00:00      10.44      24.05

In [42]:
def sort_df2(data):
    data = data.sort_values(by='trade_date',ascending=False)	#df2：品种列 ascending：排序方式
    return data

data = data.groupby('ts_code').apply(sort_df2)  
data

trade_date,2018-11-13 00:00:00,2018-11-14 00:00:00,2018-11-15 00:00:00,code
open,10.41,10.53,10.44,000001.SZ
high,10.65,10.55,10.64,000001.SZ
low,10.38,10.42,10.42,000001.SZ
close,10.54,10.44,10.62,000001.SZ
vol,1.0725e+06,774240,901462,000001.SZ
adj_factor,108.031,108.031,108.031,000001.SZ

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

,2018-11-13 00:00:00,2018-11-14 00:00:00,2018-11-15 00:00:00,code,2018-11-12 00:00:00
open,10.41,10.53,10.44,000001.SZ,NaN
high,10.65,10.55,10.64,000001.SZ,NaN
low,10.38,10.42,10.42,000001.SZ,NaN
close,10.54,10.44,10.62,000001.SZ,NaN
vol,1.0725e+06,774240,901462,000001.SZ,NaN
adj_factor,108.031,108.031,108.031,000001.SZ,NaN
open,23.48,24.18,24.05,000002.SZ,23.410
high,24.03,24.49,24.4,000002.SZ,23.960
low,23.44,23.96,23.96,000002.SZ,23.400
close,23.94,24.15,24.38,000002.SZ,23.880
vol,453424,618883,258624,000002.SZ,386742.230
adj_factor,142.668,142.668,142.668,000002.SZ,142.668

In [25]:
data

              ts_code   open   high    low  close         vol  adj_factor
trade_date
2018-11-12  000001.SZ  10.46  10.58  10.38  10.56   920333.88     108.031
2018-11-12  000002.SZ  23.41  23.96  23.40  23.88   386742.23     142.668
2018-11-13  000001.SZ  10.41  10.65  10.38  10.54  1072497.62     108.031
2018-11-13  000002.SZ  23.48  24.03  23.44  23.94   453424.04     142.668
2018-11-14  000001.SZ  10.53  10.55  10.42  10.44   774239.85     108.031
2018-11-14  000002.SZ  24.18  24.49  23.96  24.15   618882.72     142.668
2018-11-15  000001.SZ  10.44  10.64  10.42  10.62   901461.98     108.031
2018-11-15  000002.SZ  24.05  24.40  23.96  24.38   258623.58     142.668

In [ ]:
def get_open(x):
    OPEN[x] = data[data['ts_code']==x]
    return OPEN

In [ ]:
data

In [ ]:
data

In [ ]:
data[['ts_code','open']]

In [ ]:
var='000001.SZ'
(var, data[data.ts_code==var].drop('ts_code',1))

In [ ]:
var='000001.SZ'

In [ ]:
data = data.T

In [43]:
data = get_OHLCV_by_kdb(config_data_query, code = ['000001.SZ','000002.SZ'], frequency = 'D', asset = 'E', adj = '', start_date = '20181111', end_date = '', trade_date = '',items=['ts_code','open','high','low','close','vol','adj_factor'],is_panel=0)

提取数据: 数据维度:2; 标的数：2; 起始时间：2018-11-12 00:00:00; 结束时间：2018-11-15 00:00:00

In [ ]:
dict([data for var in np.unique(data[data.index=='ts_code'].values)])

In [44]:
a = dict([(var, data[['ts_code',var]].drop('ts_code',1)) for var in np.unique(data.columns.tolist())])

In [46]:
a['adj_factor']

            adj_factor
trade_date
2018-11-12     108.031
2018-11-12     142.668
2018-11-13     108.031
2018-11-13     142.668
2018-11-14     108.031
2018-11-14     142.668
2018-11-15     108.031
2018-11-15     142.668

In [ ]:
pd.Panel(a)

In [ ]:
a = pd.Panel(dict([(var, data[data.ts_code==var].drop('ts_code', 1)) for var in np.unique(data.ts_code)]))

In [39]:
a = pd.Panel(dict([(var, data[data.ts_code==var].drop('ts_code', 1)) for var in np.unique(data.columns.tolist())]))

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2963: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
open_price = a.loc['open',:,:].dropna(axis=1,how='any')

In [ ]:
a.items

In [42]:
a['ts_code']

Empty DataFrame
Columns: [open, high, low, close, vol, adj_factor]
Index: []

In [ ]:
import xarray as xr

In [ ]:
ds = xr.Dataset()
ds['year'] = np.arange(100)
ds['simulation'] = np.arange(1000)

In [ ]:
In [1]: import pandas as pd 

In [2]: import numpy as np 

In [3]: import pandas.util.testing as tm; tm.N = 3 

In [4]: def unpivot(frame): 
    ...:   N, K = frame.shape 
    ...:   data = {'value' : frame.values.ravel('F'), 
    ...:     'variable' : np.asarray(frame.columns).repeat(N), 
    ...:     'date' : np.tile(np.asarray(frame.index), K)} 
    ...:   return pd.DataFrame(data, columns=['date', 'variable', 'value']) 
    ...: 

In [5]: df = unpivot(tm.makeTimeDataFrame()) 
In [7]: df['value2'] = df['value'] * 2 
In [8]: df.pivot('date', 'variable')

In [ ]:
df.drop('variable')

In [ ]:
In [10]: xr.DataArray(dict([(var, df[df.variable==var].drop('variable', 1)) for var in np.unique(df.variable)]))

In [ ]:
pd.Panel(dict([(var, df[df.variable==var].drop('variable', 1)) for var in np.unique(df.variable)]))

In [ ]:
pd.Panel(data)

In [ ]:
data.T

In [ ]:
map(get_open,data_code)

In [ ]:
OPEN = pd.DataFrame()
OPEN

In [ ]:
OPEN

In [ ]:
data

In [ ]:
data.to_frame()

In [ ]:
wp = pd.Panel(data, items=['ts_code', 'trade_date'], major_axis=data['ts_code'], minor_axis=data.index)

In [ ]:
def sort_df2(data):
    data = data.sort_values(by='trade_date',ascending=False)	#df2：品种列 ascending：排序方式
    return data

data = data.groupby('ts_code').apply(sort_df2)  
data

In [ ]:
OPEN= data[['open']]

In [ ]:
OPEN.T

In [ ]:
data['open'][data['open'].index[0]=='000001.SZ']

In [ ]:
del data['ts_code']

In [ ]:
data[data['ts_code']=='000001.SZ']

In [ ]:
data.iloc['open';:;:]

In [ ]:
data = np.random.rand(2,4,5)
p = pd.Panel(data)

In [ ]:
data

In [ ]:
pd.DataFrame(data)

In [ ]:
def sort_df2(data):
    data = data.sort_values(by='trade_date',ascending=False)	#df2：品种列 ascending：排序方式
    return data

data = data.groupby('ts_code').apply(sort_df2)

In [ ]:
data = data.groupby('ts_code').apply(sort_df2)

In [ ]:
pd.Panel(np.array(data))

In [ ]:
data = get_OHLCV_by_kdb(config_data_query, code = ['000001.SZ','000002.SZ'], frequency = 'D', asset = 'E', adj = '', start_date = '', end_date = '', trade_date = '',item=['ts_code','open','high','low','close','volume','adj_factor'],is_panel=0)

In [ ]:
def sort_df2(data):
    data = data.sort_values(by='trade_date',ascending=False)	#df2：品种列 ascending：排序方式
    return data

data = data.groupby('ts_code').apply(sort_df2)

In [ ]:
data

In [ ]:
data['trade_date'] +=946684800000000000
data['trade_date'] = pd.to_datetime(data['trade_date'])
data

In [ ]:
code = ['000001.SZ','000002.SZ']
code = ''.join(list(map(lambda x:'`'+x,code)))
code

In [ ]:
code[0]+code[1]

In [ ]:
query='data:raze{select from (get`:Local/OHLCV_D_E) where ts_code in `$x} each '+code
query

In [ ]:
''.join(code)